#Home {
    padding: 100px 80px 0px 80px;
    box-sizing: border-box;
}

#Home #banner-wrapper {
    width: calc(100vw - 160px);
    height: 350px;
    position: relative;
    border-radius: 10px;
}

#Home #banner-wrapper #banner {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#Home #banner-wrapper #banner .banner-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#Home #banner-wrapper #banner .banner-content img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

#Home #banner-wrapper #banner .banner-content .banner-details {
    position: absolute;
    /* left: 50px; */
    top: 30px;
    max-width: 50%;
}

#Home #banner-wrapper #banner .banner-content .banner-details .banner-title {
    font-weight: 600;
}

#Home #banner-wrapper .banner-button {
    all: unset;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px lightgray;
    position: absolute;
    top: calc(50% - 25px);
    z-index: 10;
}

#Home #banner-wrapper #banner-before {
    left: -25px;
}

#Home #banner-wrapper #banner-after {
    right: -25px;
}

#Home #banner-wrapper #banner .banner-content .banner-details .redirect-button {
    all: unset;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
}