* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

:root {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    /* --background-color: light-dark(white, #222); */
    /* --font-color: light-dark(black, white); */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* mobiles */
@media (max-width: 480px) {
    #root {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
}

/* tablets */
@media (min-width: 481px) and (max-width: 820px) {
    #root {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
}